/* You can add global styles to this file, and also import other style files */
@import "./reset.scss";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html {
  display: flex;
  width: 100%;
  height: 100%;
  // font-family: 'Nunito Sans', sans-serif;

  body {
    display: flex;
    width: 100%;
    height: 100%;

    font-family: var(--font-family);
  }
}
